<!DOCTYPE html>
<html lang="en"> 
{% load static %}
<title>Show Video</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <h1>Show video</h1>
    {% for i in data %}
    <video id="video"  name="video" src="{{ i.mp4file.url }}" width="430" height="200" controls="true" type="video/mp4; codecs='mp4v.20.8'">
    </video>
    {% endfor %} 
</body>

<script type="text/javascript">
jQuery("video").each(function() {
    console.log($(this).attr('src'));
    var src1 = $(this).attr('src');
    var VElement = $(this);
    var xhr = new XMLHttpRequest();
    xhr.responseType = 'blob';

    xhr.onload = function() {

        var reader = new FileReader();

        reader.onloadend = function() {

            var byteCharacters = atob(reader.result.slice(reader.result.indexOf(',') + 1));

            var byteNumbers = new Array(byteCharacters.length);

            for (var i = 0; i < byteCharacters.length; i++) {

                byteNumbers[i] = byteCharacters.charCodeAt(i);

            }

            var byteArray = new Uint8Array(byteNumbers);
            var blob = new Blob([byteArray], { type: 'video/mp4' });
            var url = URL.createObjectURL(blob);
            console.log(url);
            VElement.attr('src', url/*+"#t=5"*/);
        }
        reader.readAsDataURL(xhr.response);
    };

    xhr.open('GET', src1);
    xhr.send();
});
</script>
</html>